:root {
  --darkRed: #c42847;
  --red: #de3c4b;
  --orange: #e28413;
  --white: #fbf5f3;
  --black: #161616;
}


body, html {
  margin: 0;
  padding: 0;
  font-family: 'Inconsolata', Helvetica, Arial, sans-serif;
  background-color: #FC9E4F;
}


body {
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.bold {
  font-size: inherit;
  font-weight: 1000;
}

.content-flow {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.row h1 {
  z-index: 1;
  user-select: none;
  color: white;
  text-shadow: 3px 4px var(--orange), 6px 7px var(--red), 9px 10px var(--darkRed);
  font-size: 3vw;
  transition: text-shadow 0.3s ease-out;
}

.row h1:hover {
  text-shadow: 6px 8px var(--orange), 12px 14px var(--red), 18px 20px var(--darkRed);
}

h3 p {
  color: #020122;
  font-size: 3rem;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #f2f3ae;
}

.main {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  overflow: scroll;
  align-items: center;
  padding: 1rem;
}

.content {
  flex: 1;
  max-width: 52rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.row {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1rem;
}

.row > * {
  flex: 1;
}

.row > .summary {
  flex: 3;
}

.row > .description {
  min-width: 12rem;
}

.row > .summary {
  min-width: 15rem;
}

.row.centered {
  align-items: center;
}

.button {
  font-weight: bold;
  color: white;
  background-color: #020122;
  padding: 20px;
  border: 0;
  border-radius: 10px;
  text-align: center;
}

.button:hover {
  background-color: #f2f3ae;
  color: #020122;
}

footer {
  justify-content: center;
  display: flex;
  flex: none;
}

.social-media {
  justify-content: center;
  align-self: center;
  margin: 0 auto;
  max-width: 1040px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 20px; 
}

i {
  font-size: 36px;
  margin: 30px;
  color: #f2f3ae;
}

i:hover{
  color: #020122;
}
