/*
:root {
  --darkRed: #c42847;
  --red: #de3c4b;
  --orange: #e28413;
  --white: #fbf5f3;
  --black: #161616;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Inconsolata', Helvetica, Arial, sans-serif;
  background-color: #FC9E4F;
}

body {
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
*/

body {
  margin: 0;
  padding: 0;
}

.sky {
  background-image: linear-gradient(#f3badb, #f6d19c);
  width: 100%;
  height: 80;
  display: flex;
  justify-content: center;
}

.sky img {
  position: absolute;
  width: 100%;
  bottom: 0;
}

#cloud-one {
  width: 20%;
  bottom: 40%;
  margin-left: 70%;
}

#cloud-two {
  width: 25%;
  bottom: 80%;
  margin-left: 60%;
}

#cloud-three {
  width: 30%;
  bottom: 60%;
  margin-left: 80%;
}

#cloud-four {
  width: 24%;
  bottom: 70%;
  margin-left: 40%;
}

#cloud-five {
  width: 23%;
  bottom: 60%;
  margin-left: 40%;
}

#javascript {
  width: 10%;
  bottom: 10%;
}

#mountains {
  width: 100%;
  bottom: 10%;
}

#graphql {
  width: 10%;
  bottom: 10%;
}

#air-balloon {
  width: 10%;
  bottom: 10%;
}

#react {
  width: 10%;
  bottom: 10%;
}

/*

.bold {
  font-size: inherit;
  font-weight: 900;
}

h1 {
  font-family: "Lilita One", cursive;
  color: white;
  text-shadow: 3px 4px var(--orange), 6px 7px var(--red), 9px 10px var(--darkRed);
  font-size: 5.5vw;
  transition: text-shadow 0.3s ease-out;
}

h1:hover {
  text-shadow: 6px 8px var(--orange), 12px 14px var(--red), 18px 20px var(--darkRed);
}

h3 {
  color: white;
  font-weight: 10;
  margin: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #f2f3ae;
}

.main {
  box-sizing: border-box;
  border: 1rem solid white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  overflow: scroll;
  align-items: center;
  padding: 1rem;
}

.content {
  flex: 1;
  max-width: 50vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.row {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1rem;
  align-items: center;
}

.row > * {
  flex: 1;
}

.row > .summary {
  flex: 3;
  min-width: 15rem;
}

.row > .description {
  min-width: 12rem;
}

.button {
  color: #000;
  position: relative;
  text-decoration: none;
}

.button::before {
  background: hsl(45 100% 70%);
  content: "";
  inset: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s ease-in-out;
  z-index: -1;
}

.button:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}


footer {
  justify-content: center;
  display: flex;
  flex: none;
}

.social-media {
  justify-content: center;
  align-self: center;
  margin: 0 auto;
  max-width: 1040px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 20px; 
}

i {
  font-size: 36px;
  margin: 30px;
  color: #f2f3ae;
}

i:hover{
  color: #020122;
}

@media screen {
  
}
*/
